body {
  margin: 0;
  font-family: "Spline Sans Mono", monospace;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  scroll-behavior: smooth;
}

code {
  font-family: "Spline Sans Mono", monospace, sans-serif;
}
